<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sensetime.iva.ipet.mapper.BusinessSystemPlatformMapper" >
  <resultMap id="BaseResultMap" type="com.sensetime.iva.ipet.entity.BusinessSystemPlatform" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="business_system_id" property="businessSystemId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `business_system_platform`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sensetime.iva.ipet.entity.BusinessSystemPlatform" useGeneratedKeys="true" keyProperty="id" >
    insert into `business_system_platform` (business_system_id, name, create_at,
      update_at)
    values (#{businessSystemId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sensetime.iva.ipet.entity.BusinessSystemPlatform" >
    update `business_system_platform`
    set business_system_id = #{businessSystemId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, business_system_id, name, create_time, update_time
    from `business_system_platform`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, business_system_id, name, create_time, update_time
    from `business_system_platform`
  </select>
</mapper>