<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sensetime.iva.ipet.mapper.ProjectRelatedPersonMapper" >
  <resultMap id="BaseResultMap" type="com.sensetime.iva.ipet.entity.ProjectRelatedPerson" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    <result column="remark3" property="remark3" jdbcType="VARCHAR" />
    <result column="remark4" property="remark4" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `project_related_person`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sensetime.iva.ipet.entity.ProjectRelatedPerson" useGeneratedKeys="true" keyProperty="id" >
    insert into `project_related_person` (project_id, type, company_name, 
      role, name, remark1, 
      remark2, remark3, remark4, 
      create_time, update_time)
    values (#{projectId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sensetime.iva.ipet.entity.ProjectRelatedPerson" >
    update `project_related_person`
    set project_id = #{projectId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      role = #{role,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remark2 = #{remark2,jdbcType=VARCHAR},
      remark3 = #{remark3,jdbcType=VARCHAR},
      remark4 = #{remark4,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, project_id, type, company_name, role, name, remark1, remark2, remark3, 
    remark4, create_time, update_time
    from `project_related_person`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, project_id, type, company_name, role, name, remark1, remark2, remark3, 
    remark4, create_time, update_time
    from `project_related_person`
  </select>
</mapper>